<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Pagina Inicio</title>
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)
</head>
<body>
    @Html.Partial("_Header")
    @RenderBody()
    @Html.Partial("_Footer")

    <div class="modal fade" id="modalGenerico" tabindex="-1" role="dialog">
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/app")

    @if (TempData[WebUI.Utilities.Strings.KeyMensajeDeAccion] != null)
    {
        <script>
            $(document).ready(function () {
                App.showMessage(true, '@TempData[WebUI.Utilities.Strings.KeyMensajeDeAccion].ToString()');
            });
        </script>
    }

    @RenderSection("scripts", required: false)
</body>
</html>