@using WebUI.Entities
@model WebUI.Areas.Admin.Models.VisionGeneralViewModel
@{
    ViewBag.Title = "Index";
}

@section Styles {
    <link rel="stylesheet" href=@Url.Content("~/Areas/Admin/Content/vistaAdmin.css") type="text/css">
    <link rel="stylesheet" href=@Url.Content("~/Areas/Admin/Content/vistaEliminar.css") type="text/css">
}

<div class="container">
    <div class="row">
        <section class="col-md-7">
            <div class="caja">
                <h3><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Ultimas Empresas registradas </h3>
                <table class="table">
                    <tr>
                        <th class="col-md-4">
                            Nombre
                        </th>
                        <th class="col-md-3">
                            Email
                        </th>
                        <th class="col-md-4">
                            Ubicacion
                        </th>
                        <th>
                        </th>
                    </tr>

                    @foreach (Usuario unUsuario in Model.Usuarios)
                    {
                        <tr>
                            <td>
                                <a href="javascript:Admin.showModalEmpresa('@Url.Action("DetalleModal","VisionGeneral", new { id = unUsuario.Id })');">
                                    @unUsuario.Nombre
                                </a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => unUsuario.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => unUsuario.Ubicacion)
                            </td>
                            <td>
                                <a href="javascript:Admin.showModalEmpresa('@Url.Action("ModalEliminar","VisionGeneral", new { id = unUsuario.Id })');" style="color:#ea052e;">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </a>
                            </td>
                        </tr>
                    }

                </table>

            </div>

        </section>
        <aside class="col-md-offset-1 col-md-4 caja">
            <h3><span class="glyphicon glyphicon-fire" aria-hidden="true"></span> Ultimos Mensajes </h3>
            <table class="table">
                <tr>
                    <th class="col-md-4">
                        Producto
                    </th>
                    <th class="col-md-6">
                        Asunto
                    </th>
                    <th>
                    </th>
                    <th>
                    </th>
                    @foreach (Reporte unReporte in Model.Reportes)
                    {
                    <tr>
                        <td>
                            <a href="javascript:Admin.showModalEmpresa('@Url.Action("DetalleProducto", "VisionGeneral", new { id = unReporte.Producto.Id })');">
                                @unReporte.Producto.Nombre
                            </a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => unReporte.Asunto)
                        </td>
                        <td>
                            <a href="javascript:Admin.showModalEmpresa('@Url.Action("ModalMensaje","VisionGeneral", new { id = unReporte.Id })');">
                                <span class="glyphicon glyphicon-eye-open" aria-hidden="true" style="color: #414241;"></span>
                            </a>
                        </td>
                        <td>
                            <a href="javascript:Admin.showModalEmpresa('@Url.Action("ModalEliminarMensaje","VisionGeneral", new { id = unReporte.Id })');" style="color:#ea052e;">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </a>
                        </td>
                    </tr>
                    }
                </table>
            </aside>
        </div>
    </div>